# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executable files
*.out
*.exe

# Database files
*.db

# Debug files
*.dSYM/
*.dSYM/*

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.old

# Ignore all bin directory contents
**/bin/*

cmake-build-debug/

# IDE specific files
#.vscode/
.idea/


.cache/